<div class="dc-get">
  <div class="dc-get__input">
    <mat-form-field>
      <input matInput placeholder="Document id" type="number" [(ngModel)]="documentId">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="getDocument()">Get document</button>
  </div>
  <div class="dc-get__result" *ngIf="isResultsReady">
    <dc-document [isEditable]="false"
                 [document]="document">
    </dc-document>
  </div>
</div>

